/* Estilos gerais */
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #aad7ca;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-bottom: 100px;
  background-color: #d4e1dc;
}

#root,
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Campos readonly */
.readonly-field {
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  color: #555;
}

/* Campos editáveis */
.editable-field {
  background-color: #ffffff;
  border: 1px solid #bbb;
  color: #333;
}

/* Navbar */
.nav-custom {
  background-color: #4caf50;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.nav-custom .nav-link {
  color: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-custom .nav-link:hover {
  color: #d4f4e6;
}

.navbar-brand img {
  width: 90px;
  height: 90px;
}

.header-container {
  flex: 1;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 30px;
}

/* Home */
#title-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

#title-container p {
  margin-top: 5px;
  color: #777;
}

#posts-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-box {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.post-box:hover {
  transform: scale(1.02);
}

.post-box .post-title a {
  color: #4caf50;
  font-weight: bold;
  transition: color 0.3s ease;
}

.post-box .post-title a:hover {
  color: #388e3c;
}

.post-description {
  color: #666;
  padding: 10px;
  font-style: italic;
}

/* Post */
.card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.like-dislike-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-content {
  color: #555;
  padding: 10px;
}

.img-container img {
  width: 100%;
  border-radius: 8px;
}

/* Comment Box */
#comment-box {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#comment-text {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  background-color: #f9f9f9;
}

#comment-box button {
  min-width: 100px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#comment-box button:hover {
  background-color: #45a049;
}

/* Comments */
#comments-title {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 400;
  border-radius: 8px;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  background-color: #4caf50;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px 0;
}

/* PÁGINA DE CONTATO */
.contact-page {
  padding: 20px;
  background-color: #b1daa9a7;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

.contact-info,
.contact-form,
.map {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h1,
.contact-form h2,
.map h2 {
  color: #4caf50;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.btn-submit {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #45a049;
}

.map iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: none;
}

/* ADMIN PANEL */
#usuariosTable th {
  background-color: #4caf50;
  color: white;
}

#usuariosTable td button {
  background-color: #4caf50;
  color: white;
}

#usuariosTable td button:hover {
  background-color: #45a049;
}

/*Painel do Editor*/

.ql-editor {
  background-color: white;
}

.ql-toolbar {
  background-color: white;
  border: #333;
}

.form-control.read-only-perfil {
  background-color: #dde6dd !important;
  color: #495057;
  cursor: not-allowed;
  border-color: #b7b7b7;
}
